<ion-header class="header--menu">
  <ion-toolbar>
    <ion-title>
      <div class="logo--container ion-align-items-center">
        <div class="ion-align-items-center">
          <a href="https://docs.tezos.com/dApps" rel="noopener">
            <strong style="font-size: 1.2em;">octez.connect</strong>
          </a>
          <span><a href="https://tezos.com" target="_blank" rel="noopener">by Tezos</a></span>
        </div>
        <ion-chip (click)="reset()" color="primary" outline="true" class="ion-margin-start">
          <ion-label>v{{ beaconSdkVersion }}</ion-label>
        </ion-chip>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        {{ connectionStatus$ | async }}
        <ng-container *ngIf="activeAccount$ | async; let activeAccount">
          connected to {{ activeAccount.address }} on {{ activeAccount.network.type }}
        </ng-container>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
